button {
    border-radius: 4px;
    padding : 16px 20px;
    border : none;
    cursor : pointer;

}
.main {
    margin : auto;
    text-align: center;
    margin-top : 5%;
    min-height : 120px;
}

.hand {
    margin : auto;
    text-align: center;
    margin-top : 4%;
    min-height : 120px;
}

.pot {
    margin : auto;
    text-align: center;
    margin-top : 3%;
    min-height : 50px;
}

.sub-main {
    display : inline-block;
    height : 120px;
    width : 80px;
    border-radius: 5px;
    border : 1px solid black;
    margin : 3%;
    cursor : pointer
}
.card-picker {
    display : none;
    padding : 4px;
}
.card {
    width : 125px;
    height : 180px;
    background-image: url("./images/pokercards.gif");
    display : inline-block;
    cursor : pointer
}
.heart-3 {
    background-position : -125px 0px
}
.heart-4 {
    background-position : -250px 0px
}
.heart-5 {
    background-position : -375px 0px
}
.heart-6 {
    background-position : -500px 0px
}
.heart-7 {
    background-position : -625px 0px
}
.heart-8 {
    background-position : -750px 0px
}
.heart-9 {
    background-position : -875px 0px
}
.heart-10 {
    background-position : -1000px 0px
}
.heart-j {
    background-position : -1125px 0px
}
.heart-q {
    background-position : -1250px 0px
}
.heart-k {
    background-position : -1375px 0px
}
.heart-a {
    background-position : -1500px 0px
}
.diamon-2 {
    background-position : 0px -181px
}
.diamond-3 {
    background-position : -125px -181px
}
.diamond-4 {
    background-position : -250px -181px
}
.diamond-5 {
    background-position : -375px -181px
}
.diamond-6 {
    background-position : -500px -181px
}
.diamond-7 {
    background-position : -625px -181px
}
.diamond-8 {
    background-position : -750px -181px
}
.diamond-9 {
    background-position : -875px -181px
}
.diamond-10 {
    background-position : -1000px -181px
}
.diamond-j {
    background-position : -1125px -181px
}
.diamond-q {
    background-position : -1250px -181px
}
.diamond-k {
    background-position : -1375px -181px
}
.diamond-a {
    background-position : -1500px -181px
}
.spade-2 {
    background-position : -0px -543px
}
.spade-3 {
    background-position : -125px -543px
}
.spade-4 {
    background-position : -250px -543px
}
.spade-5 {
    background-position : -375px -543px
}
.spade-6 {
    background-position : -500px -543px
}
.spade-7 {
    background-position : -625px -543px
}
.spade-8 {
    background-position : -750px -543px
}
.spade-9 {
    background-position : -875px -543px
}
.spade-10 {
    background-position : -1000px -543px
}
.spade-j {
    background-position : -1125px -543px
}
.spade-q {
    background-position : -1250px -543px
}     
.spade-k {
    background-position : -1375px -543px
}  
.spade-a {
    background-position : -1500px -543px
}
.club-2 {
    background-position : 0px -362px
}
.club-3 {
    background-position : -125px -362px
}
.club-4 {
    background-position : -250px -362px
}
.club-5 {
    background-position : -375px -362px
}
.club-6 {
    background-position : -500px -362px
}
.club-7 {
    background-position : -625px -362px
}
.club-8 {
    background-position : -750px -362px
}
.club-9 {
    background-position : -875px -362px
}
.club-10 {
    background-position : -1000px -362px
}
.club-j {
    background-position : -1125px -362px
}
.club-q {
    background-position : -1250px -362px
}     
.club-k {
    background-position : -1375px -362px
}  
.club-a {
    background-position : -1500px -362px
}